In [2]:
import pandas as pd

#load area_sown.csv and convert wide format â†’ long format
area = pd.read_csv(r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\raw\area_sown.csv")

area.head()

,Province/division\n/district,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,PUNJAB,"2,438","2,695","2,592","2,846","2,736","2,854","2,860","2,762","2,824","3,073","2,924","2,829","2,978"
1,Bahawalpur Div.,"2,514","2,854","2,858","3,129","3,069","3,099","3,136","3,120","3,179","3,354","3,088","3,158","3,526"
2,Bahawalnagar,"2,563","2,860","2,992","3,122","2,943","2,984","3,036","3,146","3,052","3,269","3,070","3,244","3,714"
3,Bahawalpur,"2,578","2,996","2,823","3,150","3,195","3,000","3,025","3,047","3,227","3,404","3,224","3,021","3,307"
4,Rahim Yar Khan,"2,401","2,715","2,747","3,119","3,101","3,330","3,369","3,157","3,286","3,416","2,971","3,183","3,491"

In [5]:
area.rename(columns={"Province/division\n/district": "District"}, inplace=True)

In [6]:
area.head()

,District,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,PUNJAB,"2,438","2,695","2,592","2,846","2,736","2,854","2,860","2,762","2,824","3,073","2,924","2,829","2,978"
1,Bahawalpur Div.,"2,514","2,854","2,858","3,129","3,069","3,099","3,136","3,120","3,179","3,354","3,088","3,158","3,526"
2,Bahawalnagar,"2,563","2,860","2,992","3,122","2,943","2,984","3,036","3,146","3,052","3,269","3,070","3,244","3,714"
3,Bahawalpur,"2,578","2,996","2,823","3,150","3,195","3,000","3,025","3,047","3,227","3,404","3,224","3,021","3,307"
4,Rahim Yar Khan,"2,401","2,715","2,747","3,119","3,101","3,330","3,369","3,157","3,286","3,416","2,971","3,183","3,491"

In [10]:
area.shape

(47, 14)

In [7]:
#melt into long format (wide year col -> rows)
area_long = area.melt(
    id_vars = ["District"],
    var_name = "YearRange",
    value_name = "Area_Sown"
)

#extract first year from "2007-08"
area_long["Year"] = area_long["YearRange"].str.split("-").str[0].astype(int)

#drop extra
area_long = area_long[["District", "Year", "Area_Sown"]]

In [8]:
area_long.head()

          District  Year Area_Sown
0           PUNJAB  2007     2,438
1  Bahawalpur Div.  2007     2,514
2     Bahawalnagar  2007     2,563
3       Bahawalpur  2007     2,578
4   Rahim Yar Khan  2007     2,401

In [11]:
area_long.shape

(611, 3)

In [ ]:
#load wheat_pct.csv - transform and merge
wheat = pd.read_csv(r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\raw\wheat_pct.csv")

wheat.shape

(47, 14)

In [13]:
wheat.head()

,Province/division\n/district,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,PUNJAB,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,Bahawalpur Div.,14.57,14.90,15.80,15.24,15.29,14.68,14.99,16.04,15.97,15.43,14.97,16.56,18.10
2,Bahawalnagar,5.35,5.37,5.91,5.66,5.58,5.39,5.52,6.02,5.80,5.95,5.91,6.30,7.75
3,Bahawalpur,4.57,4.80,4.80,4.63,4.72,4.28,4.46,4.69,4.96,4.81,4.81,4.69,5.11
4,Rahim Yar Khan,4.65,4.72,5.09,4.95,5.00,5.00,5.01,5.32,5.20,4.66,4.26,5.58,5.24

In [14]:
wheat.rename(columns={"Province/division\n/district": "District"}, inplace=True)

In [15]:
wheat.head()

,District,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20
0,PUNJAB,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
1,Bahawalpur Div.,14.57,14.90,15.80,15.24,15.29,14.68,14.99,16.04,15.97,15.43,14.97,16.56,18.10
2,Bahawalnagar,5.35,5.37,5.91,5.66,5.58,5.39,5.52,6.02,5.80,5.95,5.91,6.30,7.75
3,Bahawalpur,4.57,4.80,4.80,4.63,4.72,4.28,4.46,4.69,4.96,4.81,4.81,4.69,5.11
4,Rahim Yar Khan,4.65,4.72,5.09,4.95,5.00,5.00,5.01,5.32,5.20,4.66,4.26,5.58,5.24

In [16]:
wheat_long = wheat.melt(
    id_vars = ["District"],
    var_name = "YearRange",
    value_name = "Wheat_Percentage"
)

In [17]:
wheat_long["Year"] = wheat_long["YearRange"].str.split("-").str[0].astype(int)

wheat_long = wheat_long[["District", "Year", "Wheat_Percentage"]]

In [18]:
wheat_long.head()

          District  Year Wheat_Percentage
0           PUNJAB  2007           100.00
1  Bahawalpur Div.  2007            14.57
2     Bahawalnagar  2007             5.35
3       Bahawalpur  2007             4.57
4   Rahim Yar Khan  2007             4.65

In [19]:
wheat_long.shape

(611, 3)

In [21]:
#merge with base table
df = area_long.merge(wheat_long, on=["District", "Year"], how="left")

df.head(10)

            District  Year Area_Sown Wheat_Percentage
0             PUNJAB  2007     2,438           100.00
1    Bahawalpur Div.  2007     2,514            14.57
2       Bahawalnagar  2007     2,563             5.35
3         Bahawalpur  2007     2,578             4.57
4     Rahim Yar Khan  2007     2,401             4.65
5  D.G.Khan Division  2007     2,354              NaN
6           D.G.Khan  2007     2,540             2.83
7             Layyah  2007     2,179             2.74
8       Muzaffargarh  2007     2,372             4.41
9           Rajanpur  2007     2,332             2.14