In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\raw\final_district_dataset.csv")

In [5]:
df.head(10)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
0,PK203,1981,3.423858,NaN,NaN,20.206408,NaN,NaN
1,PK203,1982,6.698594,NaN,NaN,19.510198,NaN,NaN
2,PK203,1983,3.331681,NaN,NaN,19.611718,NaN,NaN
3,PK203,1984,2.419928,NaN,NaN,19.920437,NaN,NaN
4,PK203,1985,2.637431,NaN,NaN,20.242908,NaN,NaN
5,PK203,1986,2.657394,NaN,NaN,19.578992,NaN,NaN
6,PK203,1987,2.810428,NaN,NaN,20.427150,NaN,NaN
7,PK203,1988,3.055322,NaN,NaN,20.858067,NaN,NaN
8,PK203,1989,3.025525,NaN,NaN,19.541077,NaN,NaN
9,PK203,1990,3.990772,NaN,NaN,20.353342,NaN,NaN

In [6]:
df.tail(10)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
300680,PK726,2020,12.421911,NaN,NaN,NaN,2598.0,53.0
300681,PK726,2020,12.421911,NaN,NaN,NaN,3682.0,119.0
300682,PK726,2020,12.421911,NaN,NaN,NaN,3971.0,129.0
300683,PK726,2020,12.421911,NaN,NaN,NaN,3306.0,103.0
300684,PK726,2020,12.421911,NaN,NaN,NaN,3186.0,137.0
300685,PK726,2020,12.421911,NaN,NaN,NaN,3036.0,153.0
300686,PK726,2021,8.111194,NaN,NaN,NaN,NaN,NaN
300687,PK726,2022,13.480117,NaN,NaN,NaN,NaN,NaN
300688,PK726,2023,8.965433,NaN,NaN,NaN,NaN,NaN
300689,PK726,2024,7.396167,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(300690, 8)