In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\raw\final_district_dataset.csv")

In [4]:
df.head(10)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
0,PK203,1981,3.423858,NaN,NaN,20.206408,NaN,NaN
1,PK203,1982,6.698594,NaN,NaN,19.510198,NaN,NaN
2,PK203,1983,3.331681,NaN,NaN,19.611718,NaN,NaN
3,PK203,1984,2.419928,NaN,NaN,19.920437,NaN,NaN
4,PK203,1985,2.637431,NaN,NaN,20.242908,NaN,NaN
5,PK203,1986,2.657394,NaN,NaN,19.578992,NaN,NaN
6,PK203,1987,2.810428,NaN,NaN,20.427150,NaN,NaN
7,PK203,1988,3.055322,NaN,NaN,20.858067,NaN,NaN
8,PK203,1989,3.025525,NaN,NaN,19.541077,NaN,NaN
9,PK203,1990,3.990772,NaN,NaN,20.353342,NaN,NaN

In [5]:
df.tail(10)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
300680,PK726,2020,12.421911,NaN,NaN,NaN,2598.0,53.0
300681,PK726,2020,12.421911,NaN,NaN,NaN,3682.0,119.0
300682,PK726,2020,12.421911,NaN,NaN,NaN,3971.0,129.0
300683,PK726,2020,12.421911,NaN,NaN,NaN,3306.0,103.0
300684,PK726,2020,12.421911,NaN,NaN,NaN,3186.0,137.0
300685,PK726,2020,12.421911,NaN,NaN,NaN,3036.0,153.0
300686,PK726,2021,8.111194,NaN,NaN,NaN,NaN,NaN
300687,PK726,2022,13.480117,NaN,NaN,NaN,NaN,NaN
300688,PK726,2023,8.965433,NaN,NaN,NaN,NaN,NaN
300689,PK726,2024,7.396167,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(300690, 8)

In [7]:
#remove duplicate district-year rows
dup = df.groupby(["District", "Year"]).size().sort_values(ascending=False)

dup.head(20)

District  Year
PK718     2009    512
PK203     2009    512
PK714     2009    512
PK629     2009    512
PK614     2009    512
PK626     2009    512
PK709     2009    512
PK708     2009    512
PK636     2009    512
PK711     2009    512
PK204     2009    512
PK530     2009    512
PK211     2009    512
PK603     2009    512
PK604     2009    512
PK209     2009    512
PK609     2009    512
PK612     2009    512
PK519     2009    512
PK516     2009    512
dtype: int64

In [8]:
df = df.groupby(["District", "Year"], as_index=False).agg({
    "Avg_Rainfall":"mean",
    "Area_Sown":"mean",
    "Wheat_Percentage":"mean",
    "Avg_Temperature":"mean",
    "Crop_Yield":"mean",
    "Irrigation_Area":"mean"
})

In [9]:
df.head(15)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
0,PK203,1981,3.423858,NaN,NaN,20.206408,NaN,NaN
1,PK203,1982,6.698594,NaN,NaN,19.510198,NaN,NaN
2,PK203,1983,3.331681,NaN,NaN,19.611718,NaN,NaN
3,PK203,1984,2.419928,NaN,NaN,19.920437,NaN,NaN
4,PK203,1985,2.637431,NaN,NaN,20.242908,NaN,NaN
5,PK203,1986,2.657394,NaN,NaN,19.578992,NaN,NaN
6,PK203,1987,2.810428,NaN,NaN,20.427150,NaN,NaN
7,PK203,1988,3.055322,NaN,NaN,20.858067,NaN,NaN
8,PK203,1989,3.025525,NaN,NaN,19.541077,NaN,NaN
9,PK203,1990,3.990772,NaN,NaN,20.353342,NaN,NaN
10,PK203,1991,3.493017,NaN,NaN,19.842869,NaN,NaN
11,PK203,1992,3.450828,NaN,NaN,19.705822,NaN,NaN
12,PK203,1993,2.821083,NaN,NaN,20.407645,NaN,NaN
13,PK203,1994,2.758992,NaN,NaN,20.111693,NaN,NaN
14,PK203,1995,3.122522,NaN,NaN,19.943789,NaN,NaN

In [10]:
df.shape

(1320, 8)

In [11]:
#cleaning numeric cols
num_cols = ["Avg_Rainfall","Area_Sown","Wheat_Percentage","Avg_Temperature",
            "Crop_Yield","Irrigation_Area"]

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [12]:
#handling missing vals

df.isna().sum()

District               0
Year                   0
Avg_Rainfall           0
Area_Sown           1320
Wheat_Percentage    1320
Avg_Temperature      240
Crop_Yield           690
Irrigation_Area      690
dtype: int64

In [13]:
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

df.isna().sum()

District               0
Year                   0
Avg_Rainfall           0
Area_Sown           1320
Wheat_Percentage    1320
Avg_Temperature        0
Crop_Yield             0
Irrigation_Area        0
dtype: int64

In [14]:
df.shape

(1320, 8)

In [15]:
df.head()

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
0,PK203,1981,3.423858,NaN,NaN,20.206408,2973.113131,118.704918
1,PK203,1982,6.698594,NaN,NaN,19.510198,2973.113131,118.704918
2,PK203,1983,3.331681,NaN,NaN,19.611718,2973.113131,118.704918
3,PK203,1984,2.419928,NaN,NaN,19.920437,2973.113131,118.704918
4,PK203,1985,2.637431,NaN,NaN,20.242908,2973.113131,118.704918

In [16]:
df.tail(10)

,District,Year,Avg_Rainfall,Area_Sown,Wheat_Percentage,Avg_Temperature,Crop_Yield,Irrigation_Area
1310,PK726,2015,8.453675,NaN,NaN,20.559059,3006.106610,119.558635
1311,PK726,2016,6.903961,NaN,NaN,21.414617,2985.375839,120.281879
1312,PK726,2017,9.817506,NaN,NaN,20.417397,2969.108481,118.157791
1313,PK726,2018,3.318286,NaN,NaN,20.417397,2958.949495,119.383838
1314,PK726,2019,10.485631,NaN,NaN,20.417397,2959.044304,117.308017
1315,PK726,2020,12.421911,NaN,NaN,20.417397,2975.688525,118.704918
1316,PK726,2021,8.111194,NaN,NaN,20.417397,2973.113131,118.704918
1317,PK726,2022,13.480117,NaN,NaN,20.417397,2973.113131,118.704918
1318,PK726,2023,8.965433,NaN,NaN,20.417397,2973.113131,118.704918
1319,PK726,2024,7.396167,NaN,NaN,20.417397,2973.113131,118.704918

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df = df.drop(columns={"Area_Sown", "Wheat_Percentage"})

In [19]:
df.columns.tolist()

['District',
 'Year',
 'Avg_Rainfall',
 'Avg_Temperature',
 'Crop_Yield',
 'Irrigation_Area']

In [20]:
df.shape

(1320, 6)

In [21]:
df.to_csv(r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\processed\final_cleaned_district_dataset.csv", index=False)