In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon

In [2]:
shapefile_path = r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\geospatial\pakistan_shapefile\gadm41_PAK_2.shp"

gdf = gpd.read_file(shapefile_path)

gdf.head()

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,Z06.1.1_1,Z06,Pakistan,Z06.1_1,Azad Kashmir,NA,Azad Kashmir,NA,NA,Division,Division,NA,PK.JK.JK,"POLYGON ((73.82016 33.01731, 73.78817 33.00737..."
1,PAK.2.1_1,PAK,Pakistan,PAK.2_1,Balochistan,NA,Kalat,NA,NA,Division,Division,NA,PK.BA.KL,"MULTIPOLYGON (((66.36514 25.54598, 66.36514 25..."
2,PAK.2.2_1,PAK,Pakistan,PAK.2_1,Balochistan,NA,Makran,NA,NA,Division,Division,NA,PK.BA.MR,"MULTIPOLYGON (((63.85569 25.12681, 63.8568 25...."
3,PAK.2.3_1,PAK,Pakistan,PAK.2_1,Balochistan,NA,Nasirabad,NA,NA,Division,Division,NA,PK.BA.NS,"POLYGON ((68.56033 28.59119, 68.64969 28.54055..."
4,PAK.2.4_1,PAK,Pakistan,PAK.2_1,Balochistan,NA,Quetta,NA,NA,Division,Division,NA,PK.BA.QE,"POLYGON ((62.7063 29.3985, 62.70731 29.39866, ..."

In [3]:
#our clean dataset
df = pd.read_csv(
    r"C:\Ibrahim\Personal\University Stuff\Machine Learning\Project\ML Irrigation Project\data\processed\final_cleaned_district_dataset.csv"
)

df.head()

,Unnamed: 0,District,Year,Avg_Rainfall,Avg_Temperature,Crop_Yield,Irrigation_Area,Rain_Next_1,Rain_Next_24,Rain_Next_7d
0,2,PK203,1983,3.331681,19.611718,2973.113131,118.704918,10.591415,2.269813,2.383304
1,3,PK203,1984,2.419928,19.920437,2973.113131,118.704918,11.673900,2.423514,2.544689
2,4,PK203,1985,2.637431,20.242908,2973.113131,118.704918,11.465340,2.390116,2.509621
3,5,PK203,1986,2.657394,19.578992,2973.113131,118.704918,11.417544,2.382497,2.501622
4,6,PK203,1987,2.810428,20.427150,2973.113131,118.704918,11.513817,2.397244,2.517106

In [6]:
gdf[['GID_2', 'NAME_2']].head(20)

        GID_2            NAME_2
0   Z06.1.1_1      Azad Kashmir
1   PAK.2.1_1             Kalat
2   PAK.2.2_1            Makran
3   PAK.2.3_1         Nasirabad
4   PAK.2.4_1            Quetta
5   PAK.2.5_1              Sibi
6   PAK.2.6_1              Zhob
7   PAK.3.1_1          F.A.T.A.
8   Z06.6.1_1    Northern Areas
9   PAK.4.1_1         Islamabad
10  PAK.5.1_1             Bannu
11  PAK.5.2_1  Dera Ismail Khan
12  PAK.5.3_1          F.A.T.A.
13  PAK.5.4_1            Hazara
14  PAK.5.5_1             Kohat
15  PAK.5.6_1          Malakand
16  PAK.5.7_1            Mardan
17  PAK.5.8_1          Peshawar
18  PAK.7.1_1        Bahawalpur
19  PAK.7.2_1   Dera Ghazi Khan

In [4]:
#match codes
gdf["DistrictCode"] = gdf["GID_2"].str.extract(r'\.(\d+)\.')
gdf["DistrictCode"] = "PK" + gdf["DistrictCode"]

In [5]:
#merge both datasets
geo_merged = gdf.merge(df, left_on="DistrictCode", right_on="District")

geo_merged.head()

Empty GeoDataFrame
Columns: [GID_2, GID_0, COUNTRY, GID_1, NAME_1, NL_NAME_1, NAME_2, VARNAME_2, NL_NAME_2, TYPE_2, ENGTYPE_2, CC_2, HASC_2, geometry, DistrictCode, Unnamed: 0, District, Year, Avg_Rainfall, Avg_Temperature, Crop_Yield, Irrigation_Area, Rain_Next_1, Rain_Next_24, Rain_Next_7d]
Index: []

[0 rows x 25 columns]